body {
    background-color: grey;
    font-family: 'Times New Roman', Times, serif;
}

header {
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    font-size: 50px;
    text-align: center;
    background-color:grey;
    font-weight: bold;
    color: white;
}

h1 {
    padding-top: 200px;
    padding-left: 200px;
    font-size: 50px;
}

h2 {
    padding-left: 200px;
}

nav {
    height: 60px;
    background: grey;
    box-shadow: 0 10px 15px rgba(255, 255, 255, 0.1);
    font-weight: bold;
    word-spacing: 200px;
}

nav a {
    text-decoration: none;
}

nav ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    background: grey;
    position: relative;
    list-style: none;
    display: inline-block;
}

nav ul li a{
    display: block;
    padding: 0 15px;
    color: white;
    text-decoration: none;
    line-height: 60px;
    font-size: 20px;
}

nav ul li a:hover{
    background: grey;
}

nav ul ul{
    position: absolute;
    top: 60px;
    display:none;
    left: 30px;
}

nav ul li:hover > ul{
    display: block;
}

dl {
    padding-left: 200px;
}

dt {
    font-size: 25px;
    font-weight: bold;
}

form {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 6em 1fr;
    grid-gap: 1em;
    gap: 1em;
    background-color: grey;
    font-family: Arial, sans-serif;
    min-width: 110em;
    width: 60%;
    padding: 1.5em;
}

input[type="submit"] {
    grid-column: 1 / 3;
    width: 130em;
    margin-left: 0;
}
textarea {
    margin-top: 10px;
    display: block;
}

input[type="submit"] {
    margin-left: 110px;
}
label {
    float: left;
    clear: left;
    display: block;
    width: 100px;
    text-align: right;
    padding-right: 10px;
    margin-top: 20px;
}

footer {
    font-size: .70em;
    font-style: italic;
    text-align: center;
    padding: 1em;
    background-color:grey;
    margin-left: 0px;
    margin-top: 500px;
}